:root {
    --bg-h-and-f: #082129;
    --bg-main: #05171e;
    --font-light-color: rgb(223, 218, 218);
    --content-width: 1920px;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 84px;
    position: sticky;
    top: 0;
    background-color: var(--bg-h-and-f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 9px 21px -2px rgba(245, 240, 240, 0.18);
}

.header-content {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

.header-left {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.header-left>img {
    height: 40px;
}

.header-left h1 {
    margin-left: 16px;
    color: var(--font-light-color);
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.search-form>label {
    color: var(--font-light-color);
    font-size: 12px;
}

.search-form>input {
    padding: 3px;
}

.search-form>p {
    color: rgb(184, 3, 3);
    font-size: 12px;
}

.d-none {
    display: none !important;
}

main {
    min-height: calc(100vh - 144px);
    background-color: var(--bg-main);
}


footer {
    height: 60px;
    position: relative;
    background-color: var(--bg-h-and-f);
    position: sticky;
    bottom: 0;
    display: flex;
    box-shadow: 0px -9px 21px -2px rgba(245, 240, 240, 0.18);
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.footer-content,
p,
span,
a {
    font-size: 14px;
    color: var(--font-light-color);

}

.pokedex-section {
    min-width: 100%;
    max-width: var(--content-width);
    min-height: calc(100vh - 270px);
    display: flex;
    padding: 36px;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: wrap;
}

.pokedex-section::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bg-main)
}

.pokedex-section::-webkit-scrollbar-thumb {
    background-color: rgb(243, 158, 101);
    border-radius: 4px;
}

.pokedex-more-section {
    min-width: 100%;
    max-width: var(--content-width);
    display: flex;
    justify-content: center;
    padding: 24px;
    position: sticky;
    bottom: 48px;
}

.button-more {
    padding: 16px 36px;
    font-size: 16px;
    background-color: var(--bg-h-and-f);
    color: var(--font-light-color);
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 0px 21px 0px rgba(245, 240, 240, 0.05);
    cursor: pointer;
}

.button-more:hover {
    box-shadow: 0px 0px 21px 2px rgba(245, 240, 240, 0.24);
}

.pokedex-empty-section {
    min-width: 100%;
    max-width: var(--content-width);
    min-height: calc(100vh - 400px);
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.pokedex-empty-section>p {
    color: var(--font-light-color);
    font-size: 18px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.loading-container>img {
    width: 90px;

    animation-name: rotate-center;
    animation-duration: 2.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}

.loading-container p{
    color: var(--font-light-color);
    font-size: 14px;
}

@keyframes rotate-center {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}