.normal{
    background-color: rgb(218, 201, 181);
}

.fighting{
    background-color: rgb(233, 55, 55);
}

.flying{
    background-color: rgb(55, 169, 235);
}

.poison{
    background-color: rgba(179, 87, 221, 0.767);
}

.ground{
    background-color: rgb(211, 148, 66);
}

.rock{
    background-color: rgb(207, 199, 88);
}

.bug{
    background-color: #a5ad4a;
}

.ghost{
    background-color: rgb(107, 158, 141);
}

.steel{
    background-color: rgba(41, 41, 228, 0.966);
}

.fire{
    background-color: rgba(219, 98, 18, 0.842);
}

.water{
    background-color: rgb(25, 207, 207);
}

.grass{
    background-color: rgb(38, 224, 38);
}

.electric{
    background-color: rgba(216, 230, 27, 0.596);
}

.psychic{
    background-color: rgb(190, 66, 149);
}

.ice{
    background-color: rgb(150, 232, 247);
}

.dragon{
    background-color: rgb(211, 93, 38);
}

.dark{
    background-color: rgba(58, 52, 52, 0.925);
}

.fairy{
    background-color: rgba(228, 131, 220, 0.712);
}

.stellar{
    background-color: rgb(39, 48, 102);
}

.unknown{
    background-color: rgb(172, 172, 137);
}